h1, h2 {
	font-family: Verdana, sans-serif;
	color: #000066;
	text-align: center;
	background-color: #808080;
}

table{
	align-self: center;
	margin: auto;
	background-color: #808080
}

header{	
	background-color: #808080;
	margin: auto;
}

p {
	text-align: left;
	background-color: #808080;
	margin: auto;
	padding: 10px;
	font-family: Verdana, sans-serif;
}

section.right{
	background-color: #808080;
}

#left {
	visibility: hidden;
	display: none;
}

aside {
	visibility: hidden;
	display: none;
}
